/* Прячем */

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


body {
    font-family: 'Work Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #151c22;
    min-width: 1366px;
}

/* Хэдер */

.main-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.main-header-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 23px;
}

.site-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.site-navigation-item .link-item {
    margin-right: 35px;
    text-decoration: none;
    color: #151c22;
}

.site-navigation-item:last-child .link-item {
    margin-right: 0;
}

.user-navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
}

.user-navigation-item:first-child .link-item {
    content: url(img/cart.svg);
    width: 20px;
    height: 18px;
    margin-left: 35px;
}

.user-navigation-item:last-child .link-item {
    content: url(img/search.svg);
    width: 18px;
    height: 18px;
    margin-left: 124px;
}

/* Промо */

.promo {
    background: #F1F2F4;
}

.promo-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #727A82;
    margin-bottom: 1em;
}

.promo-text {
    position: relative;
    left: -13px;
    margin-bottom: 50px;
}

.promo .button {
    padding: 23px 26px;
}

.button {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
    background: #151C22;
}

.button-wrapper {
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promo-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.promo-text-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 186px;
    padding-left: 170px;
}

.promo-img-column {
    margin-left: auto;
    margin-right: 110px;
    background: url(img/diag-1.svg), url(img/diag-2.svg);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}

.promo-img-column img {
    padding: 50px
}

/* Бэстселлеры */

.bestsellers .section-header {
    margin-top: 120px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.show-more {
    text-decoration: none;
    color: #151C22;
    border-bottom: 2px solid #151C22;
}

/* Каталог */

.catalog-list,
.categories-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.catalog-item,
.categories-item {
    width: 270px;
    margin-top: 65px;

    margin-right: 30px;
}

.catalog-item:nth-child(4n),
.categories-item:nth-child(4n) {
    margin-right: 0px;
}

.catalog-item-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.catalog-item-link img {
    order: 1;
    margin-bottom: 23px;
}

.catalog-item-link {
    text-decoration: none;
    color: #151C22;
}

.catalog-item-title {
    margin-bottom: 12px;
    order: 2;
    font-weight: 500;
}

.catalog-item-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    order: 2;
}

/* Новости */

.news .section-header {
    margin-top: 100px;
}

.news-wrapper {
    display: grid;
    grid-template-columns: 700px 470px;
    margin-top: 70px;
}

.news-text-column {
    margin: 30px 70px 30px 0;
    background: #F1F2F4;
}

.news-text-column-background {
    background: url(img/diag-3.svg);
    background-repeat: no-repeat;
}

.news-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding: 55px 90px 27px 40px;
}

.news-time {
    padding-left: 40px;
}

.news-text {
    color: #727A82;
    padding: 13px 50px 20px 40px;
}

.news .button {
    padding: 23px 45px;
    margin-left: 40px;
    margin-bottom: 25px;
}

/* Категории */

.categories {
    margin-bottom: 125px;
}

.categories .section-header {
    margin-top: 100px;
}


.categories-item-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.categories-item-link {
    text-decoration: none;
    color: #151C22;
}

.categories-item-link img {
    order: 1;
    margin-bottom: 23px;
}

.categories-item-title {
    order: 2;
    font-weight: 500;
}

/* Футер */

.main-footer {
    background: #151C22;
}

.main-footer-logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;

}

.footer-navigation-list {
    padding-top: 35px;
}

.footer-navigation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-navigation-item {
    margin-right: 33px;
}

.footer-navigation-link {
    text-decoration: none;
    color: #FFFFFF;
}

.social {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.social-list {
    padding-top: 35px;
    padding-bottom: 50px;
}

.social-item {
    margin-right: 30px;
}

/* КАТАГОЛ */

.catalog-header-wrapper {
    background: #F1F2F4;
}

.catalog-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    margin-top: 30px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.breadcrumbs-link {
    color: #727A82;
    text-decoration: none;
}

.breadcrumbs-link::after {
    content: '/';
    margin-right: 10px;
    margin-left: 10px;
}

.catalog-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.catalog-text-column {
    margin-left: 200px;
    margin-top: 70px;
}

.catalog-img-column {
    margin-right: 240px;
    margin-left: auto;
    width: 360px;
    background: url(img/diag-4.svg), url(img/diag-5.svg);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
}

.catalog-img-column img {
    padding-left: 30px;
}

.catalog-filter {
    background: #fff;
    border: 2px solid #151C22;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.catalog-filter::after {
    content: url(img/button.svg);
    margin-left: 115px;
    margin-right: 18px;
}

.catalog-filter-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
}

.catalog .catalog-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.catalog .catalog-item {
    width: 243px;
    margin-top: 0px;
    margin-right: 66px;
}

.catalog .catalog-item:nth-child(4n) {
    margin-right: 0px;
}

.catalog .catalog-item:nth-child(n+5) {
    margin-top: 60px;
}

.catalog-slider {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

.catalog .button {
    padding: 23px 55px;
    border: none;
}

.catalog-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 130px;
}

/* КАРТОЧКА */


.card-wrapper {
    display: grid;
    grid-template-columns: 600px 570px;
    margin-top: 54px;
    margin-bottom: 125px;
}

.card-img-column {
    margin-left: 70px;
    position: relative;
}

.card-photo-full {
    margin-bottom: 20px;
}

.card-photo-preview {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 400px;
}

.card-photo-prev-button span {
    content: url(img/button-previous.svg);
}

.card-photo-next-button span {
    content: url(img/button-next.svg);
}

.card-photo-prev-button,
.card-photo-next-button {
    border: none;
    background: #fff;
    position: absolute;
    top: 195px;
    padding: 0px;
}

.card-photo-prev-button {
    left: -70px;
}

.card-photo-next-button {
    left: 445px;
}

.card-description-column {
    background: #F1F2F4;
}

.card-description-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    padding: 70px 0px 35px 70px;
}

.card-description-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    padding: 0px 130px 0px 70px;
}

.card-description-color-list-wrapper,
.card-description-size-list-wrapper {
    margin-left: 70px;
}

.card-description-color,
.card-description-size {
    padding: 30px 0px 20px 70px;
}

.card-description-color-list,
.card-description-size-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-description-color-item {
    margin-right: 30px;
}

.card-description-size-item {
    margin-right: 20px;
}

.size-button {
    padding: 0px;
    border: 1px solid #F1F2F4;
    background: #F1F2F4;
    color: #727A82;
}

.size-button.active {
    color: #151C22;
}

.color-button {
    width: 16px;
    height: 16px;
    border: 1px solid #F1F2F4;
    border-radius: 50%;
}

.color-button.active {
    border: 1px solid #151C22;
    box-sizing: border-box;
}

.card-description-color-item:first-child .color-button {
    background-color: #B0C3C7;
}

.card-description-color-item:nth-child(2) .color-button {
    background-color: #3B6392;
}

.card-description-color-item:last-child .color-button {
    background-color: #BFC3C8;
}

.card-description-price {
    font-weight: 700;

    padding: 40px 0px 40px 70px;
}

.card-description-column .button {
    padding: 23px 55px;
    margin-left: 70px;
}

.similar {
    margin-bottom: 125px;
}

.similar .catalog-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.similar .catalog-item {
    margin-right: 30px;
}

.similar .catalog-item:nth-child(4n) {
    margin-right: 0px;
}